/*  montserrat */

@font-face {
  font-family: 'montserrat';
  src: url('../font/montserrat-regular-webfont.woff2') format('woff2'), url('../font/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../font/montserrat-italic-webfont.woff2') format('woff2'), url('../font/montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: url('../font/montserrat-bold-webfont.woff2') format('woff2'), url('../font/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../font/montserrat-bolditalic-webfont.woff2') format('woff2'), url('../font/montserrat-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* NunitoSans */

/* сброс стилей браузера */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* конец кода сброса стилей браузера */

/* body */

body {
  font-family: Arial, sans-serif;
  width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

/*  Заголовок  */

.header {
  left: 0;
  right: 0;
  background: #fff url(../image/header/base.jpg) no-repeat;
  border: 1px solid black;
}

/*  Логотип  */

.logo {
  padding-top: 27px;
  padding-left: 228px;
  padding-bottom: 27px;
  padding-right: 0;
  margin-right: 426px;
}

/*  Линия  */

.highlight {
  position: relative;
  padding-bottom: 43px;
  margin-right: 19px;
}

/*  Навигация */

.nav {
  display: inline-block;
  list-style-type: none;
  padding-bottom: 35px;
}

.nav li {
  float: left;
  margin-top: 7px;
  margin-right: 28px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  font-family: montserrat;
  font-size: 12px;
  color: #191919;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

/* Слайдер */
* {box-sizing:border-box}


.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
 .mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(82,81,81,0.8);
}

/* Caption text */
.text {
  color: #191919;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #191919;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* body */
.body{
  background-color: rgb(238, 238, 238);
}
.container{
  background-color: #fff;
}
.tab-nav{
  position:relative;
  background-color: #fff;
  margin-left: 227px;
  margin-bottom: 0;
}

.tab-nav .nav{
  margin-left: 431px;
  background: #fff url("../image/nav-tab/lines.png") no-repeat;
  padding-bottom: 0;
}

.tab-nav .nav li{
  font-family: montserrat;
  font-size: 12px;
  color: #191919;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.images_content{
  width: 1200px;
  margin: 0 auto;
  /* position: absolute;
  top: 863px;
  left: 228px; */
  overflow: hidden;
  padding: 0px 0px 10px 10px;
}
.images_content .col {
	float: left;
  width: 30%;
}

.images_content .col .item {
   /* background: #ccc; */
   display: block;
   margin: 10px 10px 0px 0px;
   padding: 10px;
}

.footer{
    background-color: #fff;

}
